VITE_WEB3FORMS_ACCESS_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
WHATSAPP_ACCESS_TOKEN=EAAirMbJ7EwIBRyFkcVU29OpZBXef8y0w6Wp1AQdRZBOGQhwFo9LoEyQ7NO55oSyUv9x1FokvsU8CWOsGzJBcsMvq2BTjEKQaWQVZAJUJddODGA6MC50wU9HDdRTzzeeTD2dJ8Q89nCwcqIbzbDmdGS57JgHY6AcmS8D3FAKislbK8R0aR51JQ8ptQIo0PXafanDRkKVpR5wTJtkKwcmyvl5R2E99QV1ljQdqv44ggRY1wr8dArmiF1Vv3BX33SdQUcIpdfEeJyFPSZCldZA4GXMpKjIzZAlrRpEwZDZD

WHATSAPP_PHONE_NUMBER_ID=1170078272860951

WHATSAPP_BUSINESS_ACCOUNT_ID=1036704412215649

WHATSAPP_VERIFY_TOKEN=DoubleACode
